<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to gitPub</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #e3f2fd;
            color: #333;
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #fff;
            margin: 10px auto;
            padding: 15px;
            width: 80%;
            max-width: 400px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        a {
            text-decoration: none;
            color: #0277bd;
            display: block;
            padding: 10px;
            transition: background-color 0.3s ease;
        }
        a:hover {
            background-color: #b3e5fc;
        }
    </style>

</head>
<body>
    <h1>Welcome to gitPub</h1>
    <ul>
        <% drinks.forEach((drink, index) => { %>
            <% let capitalized = drink.name.charAt(0).toUpperCase() + drink.name.slice(1); %>
            <li><a href="/drinks/<%= index %>"><%= capitalized %></a></li>
        <% }); %>
    </ul>
</body>
</html>
